.navigation-bar-container{
    background-color: rgba(0, 0, 0, 0.856);
    width: 10vw;
    height: 100vh; 

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    
}

.icons-container{
    display: grid;
    margin-bottom: 20vh;
}

.nav-bar-icon{
    color: #FFFFFF   ;
    margin-top: 5vh;
    transform: scale(1.5);
}

.nav-bar-icon:hover{
    color: #6C63FF ;
    cursor: pointer;
}