
.navigation-bar-container{
    background-color: var(--secondary-color);
    width: 10vw;
    height: 100vh; 

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    
}

.icons-container{
    display: grid;
    margin-bottom: 20vh;
}

.nav-bar-icon{
    color: var(--text-color);
    margin-top: 5vh;
    transform: scale(1.5);
}

.nav-bar-icon:hover{
    color: var(--active-color) ;
    cursor: pointer;
}