.profile-container{
    background-color:  var(--secondary-color) ;
    max-height: 100vh;
    overflow-y: scroll;
}

.profile-container::-webkit-scrollbar {
    width: 0px;
}

.profile-container h1{
    color: #FFFFFF ;
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100%;
}

.sign-up-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form ul{
    list-style: none;
}

.sign-up-form p{
    color: rgb(255, 255, 255);
}

.form-container input{
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 20px;
}

#sign-up-button{
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
}

#sign-up-button:hover{
    background-color: var(--active-color);
    color: var(--text-color);
}
